# Modify as required
[generic-config]
TEST_DIR=/mnt/test
TEST_DEV=/dev/sda
SCRATCH_MNT=/mnt/scratch
SCRATCH_DEV_POOL="/dev/sdb /dev/sdc /dev/sdd /dev/sde /dev/sdf /dev/sdg /dev/sdh /dev/sdi"
LOGWRITES_DEV=/dev/sdj

[btrfs-compress]
MOUNT_OPTIONS="-o compress"

[btrfs-holes-spacecache]
MKFS_OPTIONS="-O ^no-holes,^free-space-tree"
MOUNT_OPTIONS=" "

[btrfs-holes-spacecache-compress]
MKFS_OPTIONS="-O ^no-holes,^free-space-tree"
MOUNT_OPTIONS="-o compress"

[btrfs-block-group-tree]
MKFS_OPTIONS="-O block-group-tree"
MOUNT_OPTIONS=" "

[btrfs-raid-stripe-tree]
MKFS_OPTIONS="-O raid-stripe-tree"
MOUNT_OPTIONS=" "

[btrfs-squota]
MKFS_OPTIONS="-O squota"
MOUNT_OPTIONS=" "

[btrfs-subpage-normal]
MKFS_OPTIONS="--nodesize 4k --sectorsize 4k"
MOUNT_OPTIONS=" "

[btrfs-subpage-compress]
MKFS_OPTIONS="--nodesize 4k --sectorsize 4k"
MOUNT_OPTIONS="-o compress"
