# Modify as required
[generic-config]
TEST_DIR=/mnt/test
TEST_DEV=/dev/sda
SCRATCH_MNT=/mnt/scratch
SCRATCH_DEV_POOL="/dev/sdb /dev/sdc /dev/sdd /dev/sde"
LOGWRITES_DEV=/dev/sdf
RECREATE_TEST_DEV=true

[btrfs-compress]
MKFS_OPTIONS="--nodiscard"
MOUNT_OPTIONS="-o compress"

[btrfs-holes-spacecache]
MKFS_OPTIONS="--nodiscard -O ^no-holes,^free-space-tree"
MOUNT_OPTIONS=" "

[btrfs-holes-spacecache-compress]
MKFS_OPTIONS="--nodiscard -O ^no-holes,^free-space-tree"
MOUNT_OPTIONS="-o compress"

[btrfs-block-group-tree]
MKFS_OPTIONS="--nodiscard -O block-group-tree"
MOUNT_OPTIONS=" "

[btrfs-raid-stripe-tree]
MKFS_OPTIONS="--nodiscard -O raid-stripe-tree"
MOUNT_OPTIONS=" "

[btrfs-squota]
MKFS_OPTIONS="--nodiscard -O squota"
MOUNT_OPTIONS=" "

[btrfs-subpage-normal]
MKFS_OPTIONS="--nodiscard --nodesize 4k --sectorsize 4k"
MOUNT_OPTIONS=" "

[btrfs-subpage-compress]
MKFS_OPTIONS="--nodiscard --nodesize 4k --sectorsize 4k"
MOUNT_OPTIONS="-o compress"
